.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Pad {
  height: 150px;
  width: 150px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
  background-color: #282c34;
  color: #fafafa;
  box-shadow: -2px 2px 0px 0px rgb(0, 0, 0);
  outline: none;
}

.Pad:active {
  box-shadow: -4px 4px 0px 0px rgb(204, 1, 1);
}
